$headerLinearGrad: linear-gradient(to bottom, #21b1d5 80%, rgba(233,233,217,1) 90% );
$menuBkgColor: rgba(233,233,217,1);
$cardColor: rgb(33, 177, 213);
$footerLinearGrad: linear-gradient(to top, rgba(33,177,213,1) 80%, rgba(233,233,217,1) 90% );

$hoverButtonShadow: #E2F5F4;
$borderbuttons: #8f8f8f;

$cardTitle: #fbfaeb;

