$headerLinearGrad: linear-gradient(to bottom, rgba(33,177,213,1) 80%, rgba(233,233,217,1) 90% );
$menuRadialGrad: radial-gradient( rgba(233,233,217,1) 80%, rgba(33,177,213,1) 90% );
$footerLinearGrad: linear-gradient(to top, rgba(233,233,217,1) 80%, rgba(33,177,213,1) 90% );

$hoverButtonShadow: #E2F5F4;
$borderbuttons: #8f8f8f;

