@import '../../styles/global.scss';

.contact-card {
  max-width: 1200px;
  height: 105vh;
  background: $cardColor;
  margin: 3% auto 4%;
  border-radius: 20px;
  @include allmedias(androidLargeHorit){
    height: 102vh;
    margin: 3% auto 8%;
  }
  @include allmedias(androidLargeVert){
    height: 80vh;
  }
  .mat-card-header{
    @include flex(flex, row, wrap, center, center, center);
    margin-bottom: 1%;
    @include allmedias(androidLargeHorit){
      margin-bottom: 2%;
    }
    @include allmedias(androidLargeVert){
      margin-bottom: 4%;
    }
    .h4{
      @include sectionTitles($primaryFont, 2.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      padding-bottom: 8%;
      color: $cardTitle;
      @include allmedias(androidLargeHorit){
        @include sectionTitles($primaryFont, 4vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
      @include allmedias(androidLargeVert){
        @include sectionTitles($primaryFont, 7.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
    }
  }
  .mat-card-content {
    @include flex(flex,column, wrap, center, center, center);
    width: 100%;
    margin-bottom: 16px;
    @include allmedias(androidLargeHorit){
      margin-bottom: 24px;
    }
    @include allmedias(androidLargeHorit){
      margin-bottom: 32px;
    }

    .mat-form-field{
      width: 100%;
      margin:auto;
      label{
        margin-left: 1.5%;
        font-size: 1.3vw;
        z-index: 6;
        @include allmedias(androidLargeHorit){
          margin-left: 2.5%;
          font-size: 2.2vw;
        }
        @include allmedias(androidLargeVert){
          margin-left: 3.5%;
          font-size: 4.4vw;
        }
      }
      input, textarea{
        font-size: 1.5vw;
        font-family: $secondaryFont;
        background-color: $menuBkgColor;
        border-radius: 20px;
        padding: 1.5%;
        width: 96%;
        margin-top: 1%;
        @include allmedias(androidLargeHorit){
          font-size: 2vw;
          margin-top: 2%;
          padding: 2%;
        }
        @include allmedias(androidLargeHorit){
          font-size: 4vw;
          margin-top: 3%;
          padding: 2.5%;
        }
      }
      textarea{
        height: 20vh;
      }
    }
    .mat-form-field-infix {
      padding: 0.15em 0;
    }
    .mat-raised-button{
      display:block;
      background-color: #999;
      font-size: 1.25vw;
      font-family: $secondaryFont;
      border-radius: 10%;
      color: #6de2ff;
      box-shadow: inset 1px 2px 15px $menuBkgColor;
      margin: 2% auto;
      padding: 1% 2.5%;
      transition: 1s all;
      &:hover{
        color: #999;
        background-color: #6de2ff;
        padding: 1.5% 4%;
        font-size: 1.75vw;
      }
      @include allmedias(androidLargeHorit){
        font-size: 2vw;
        padding: 1.5% 3%;
        &:hover{
          padding: 2% 4.5%;
          font-size: 2.5vw;
        }
      }
      @include allmedias(androidLargeVert){
        font-size: 4vw;
        padding: 2% 3.5%;
        &:hover{
          padding: 2.5% 5%;
          font-size: 5.25vw;
        }
      }
    }
  }
}
