@import '../../styles/global.scss';

.example-card {
  max-width: 1200px;
  background: $cardColor;
  margin: 6% auto;
  height: 90vh;
  border-radius: 20px;
  @include allmedias(androidLargeHorit){
    height: 52vh;
    margin: 9% auto;
  }
  @include allmedias(androidLargeVert){
    height: 92vh;
  }
}

.mat-card-header{
  @include flex(flex, row, wrap, center, center, center);
  margin-bottom: 3%;
  @include allmedias(androidLargeHorit){
    margin-bottom: 2%;
  }
  @include allmedias(androidLargeVert){
    @include flex(flex, column, wrap, center, center, center);
    margin-bottom: 1.5%;
  }
}

.mat-card-image {
    width: 45%;
    height: auto;
    margin: 0 -16px 16px 1.5%;
    display: inline-block;
    overflow: hidden;
    vertical-align:middle;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #ccfaff;
    @include allmedias(androidLargeHorit){
      width: 40%;
    }
    @include allmedias(androidLargeHorit){
      width: 80%;
      display:block;
      margin:auto;
    }
}

.mat-card-content {
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 16px;
    width: 45%;
    margin-left: 5%;
    font-size: 1.5vw;
    font-family: $secondaryFont;
    line-height: 1.33;
    text-align:justify;
    word-break:keep-all;
    @include allmedias(androidLargeHorit){
      font-size: 2vw;
    }
    @include allmedias(androidLargeVert){
      font-size: 4.5vw;
      width: 80%;
      display:block;
      margin:auto;
    }
    p{
      margin: 4% auto;
      @include allmedias(androidLargeHorit){
        margin: 6% auto;
      }
    }
}

.mat-card-header .mat-card-title {
    margin-bottom: 18px;
}

.h4{
  @include sectionTitles($primaryFont, 2.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
  padding-bottom: 8%;
  color: $cardTitle;
  @include allmedias(androidLargeHorit){
    @include sectionTitles($primaryFont, 4vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
  }
  @include allmedias(androidLargeVert){
    @include sectionTitles($primaryFont, 7.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
  }
}
