<mat-card class="example-card">
  <mat-card-header id="aboutMe">
    <mat-card-title class="h4">{{'buttonsAndSections.button1' | translate }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/ediaz_fotoCV1.jpeg" alt="Eric Díaz's Pic">
  <mat-card-content>
    <p>
      {{ 'aboutMe.bio1' | translate }}
    </p>
    <p>
      {{ 'aboutMe.bio2' | translate }}
    </p>
    <p>
      {{ 'aboutMe.bio3' | translate }}
    </p>
    <p>
      {{ 'aboutMe.bio4' | translate }}
    </p>
    <p>
      {{ 'aboutMe.hobbies' | translate }}
    </p>
  </mat-card-content>
</mat-card>