<footer>
  <h4>&#169; Eric Díaz 2022</h4>
  <article>
    <a href="https://github.com/EricDiCiv5/" target="_blank" rel="noopener noreferrer">
      <figure>
        <img src="../../../assets/images/gitHub-logo.svg" alt="Github logo" title="Github logo" />
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/ericd%C3%ADazc%C3%ADvico/" target="_blank" rel="noopener noreferrer">
      <figure>
        <img src="../../../assets/images/LinkedIn-logo.svg" alt="LinkedIn logo" title="LinkedIn logo" />
      </figure>
    </a>
    <a href="https://www.youtube.com/channel/UCgEMX37oR2zr-hIdjnSweoQ" target="_blank" rel="noopener noreferrer">
      <figure>
        <img src="../../../assets/images/youtube-logo.svg" alt="Youtube logo" title="Youtube logo" />
      </figure>
    </a>
    <a href="https://hub.docker.com/u/edc58" target="_blank" rel="noopener noreferrer">
      <figure>
        <img src="../../../assets/images/docker-logo.svg" alt="Docker logo" title="Docker logo" />
      </figure>
    </a>

  </article>

</footer>
