<footer>
  <h4>&#169; Eric Díaz 2022</h4>
  <article>
    <figure>
      <img src="../../../assets/images/gitHub-logo.svg" alt="github logo" title="github logo" />
    </figure>
    <figure>
      <img src="../../../assets/images/LinkedIn-logo.svg" alt="LinkedIn logo" title="LinkedIn logo" />
    </figure>
    <figure>
      <img src="../../../assets/images/youtube-logo.svg" alt="Youtube logo" title="Youtube logo" />
    </figure>
    <figure>
      <img src="../../../assets/images/docker-logo.svg" alt="Docker logo" title="LinkedIn logo" />
    </figure>
  </article>

</footer>
