<header>
  <article>
    <figure (click)="moveNav()">
      <img src="../../../assets/images/burger-button.svg" alt="burger button icon" title="burger button icon" />
    </figure>
    <h1>EDCs Portfolio</h1>
    <figure>
      <img (click)="useLanguage('eng')" src="../../../assets/images/united-kingdom_flag.svg" alt="united kingdom flag"
        title="united kingdom flag" />
    </figure>
    <figure>
      <img (click)="useLanguage('es')" src="../../../assets/images/spain_flag.svg" alt="spain flag"
        title="spain flag" />
    </figure>
  </article>
  <nav id="burgerButton">
    <ul>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <li>{{'buttonsAndSections.button1' | translate }}</li>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <li>{{'buttonsAndSections.button2' | translate }}</li>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <li>{{'buttonsAndSections.button3' | translate }}</li>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <li>{{'buttonsAndSections.button4' | translate }}</li>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <li>{{'buttonsAndSections.button5' | translate }}</li>
      </a>
    </ul>
  </nav>
</header>
