@import '../../styles/global.scss';

.langsAndTechs-card {
  max-width: 1200px;
  height: 135vh;
  background: $cardColor;
  margin: 2% auto 4%;
  border-radius: 20px;
  @include allmedias(androidLargeHorit){
    margin: 3% auto 8%;
    height: 150vh;
    width: 80%;
  }
  @include allmedias(androidLargeVert){
    height: 88vh;
  }
  .mat-card-header{
    @include flex(flex, row, wrap, center, center, center);
    margin-bottom: 0%;
    .h4{
      @include sectionTitles($primaryFont, 2.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      padding-bottom: 3%;
      color: $cardTitle;
      @include allmedias(androidLargeHorit){
        @include sectionTitles($primaryFont, 4vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
      @include allmedias(androidLargeVert){
        @include sectionTitles($primaryFont, 7.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
        line-height: 1.2;
        padding-bottom: 1%;
      }
    }
  }
  .mat-card-content {
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 16px;
    width: 50%;
    margin:auto;
    font-size: 1.5vw;
    font-family: $secondaryFont;
    line-height: 1.33;
    text-align:justify;
    word-break:keep-all;
    .mat-grid-list{
      width: 1200px;
      margin:auto;
      @include allmedias(androidLargeHorit){
        @include flex(flex, row, wrap, center, center, center);
        width: 75vw;
      }
      @include allmedias(androidLargeVert){
        @include flex(flex, column, nowrap, center, center, center);
        width: 68vw;
      }
      .mat-grid-tile{
        width: 400px;
        @include allmedias(androidLargeHorit){
          width: 400px;
        }
        @include allmedias(androidLargeVert){
          width: 400px;
          margin: 25% auto;
        }
        &:hover .flip-front{
          transform: perspective(500px) rotateY(-180deg);
        }
        &:hover .flip-back{
          transform: perspective(500px) rotateY(0deg);
        }
        .flip-front{
          position:relative;
          margin:auto;
          width: 66%;
          transition: all 0.75s ease-in-out;
          backface-visibility: hidden;
          transform: perspective(500px) rotateY(0deg);
          @include allmedias(androidLargeHorit){
            width: 50%;
          }
          .mat-card-image {
            max-height: 197.5px;
            margin: 0 -16px 16px 1.5%;
            display: inline-block;
            overflow: hidden;
            vertical-align:middle;
            border-radius: 20px;
            margin: auto;
            @include allmedias(androidLargeVert){
              max-height: 197.5px;
            }
          }
        }
        .flip-back{
          max-height: 207.5px;
          padding: 4%;
          border-radius: 20px;
          display:flex;
          flex-direction: column;
          align-items:center;
          position:absolute;
          left: 25.2%;
          top: 25%;
          background-color: #5e5e5e;
          color: #ccfbff;
          transition: all 0.75s ease-in-out;
          backface-visibility: hidden;
          transform: perspective(500px) rotateY(180deg);
          margin:auto;
          @include allmedias(androidLargeHorit){
            padding: 8%;
          }
          @include allmedias(androidLargeVert){
            padding: 10%;
          }
          h5{
            font-family: $primaryFont;
            font-size: 1.25vw;
            font-weight: bold;
            text-align:center;
            @include allmedias(androidLargeHorit){
              font-size: 2.5vw;
            }
            @include allmedias(androidLargeVert){
              font-size: 4.5vw;
            }
          }
          article{
            i{
              font-size: 1.1vw;
              @include allmedias(androidLargeHorit){
                font-size: 2.2vw;
              }
              @include allmedias(androidLargeVert){
                font-size: 3.3vw;
              }
            }
          }
        }
      }
    }
  }
}


.mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mat-card-header .mat-card-title {
    margin-bottom: 18px;
}