<mat-card class="langsAndTechs-card">
    <mat-card-header id="otherLangsAndTechs">
      <mat-card-title class="h4">{{'buttonsAndSections.button6' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list [cols]="colSize" rowHeight="0.45:0.5">
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/sql-logo.svg" alt="SQL Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/Git-logo.svg" alt="Git Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/docker-logo.svg" alt="Docker Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/figma-logo.svg" alt="Figma Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/adobe-photoshop-logo.svg" alt="Photoshop Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="flip-front">
            <img mat-card-image src="../../../assets/images/adobe-premiere-logo.svg" alt="Premier Logo">
          </div>
          <div class="flip-back">
            <h5>{{ 'flipBack.text' | translate }}</h5>
            <article>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </article>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
