<mat-card class="progLang-card">
  <mat-card-header id="progLangs">
    <mat-card-title class="h4">{{'buttonsAndSections.button2' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list [cols]="colSize" rowHeight="0.45:0.5">
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/HTML5_logo.svg" alt="HTML5 Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/CSS3_logo.svg" alt="CSS3 Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/Sass_Logo.svg" alt="Eric Díaz's Pic">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/JavaScript_logo.svg" alt="JS Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/Typescript_logo.svg" alt="TS Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/Angular_logo.svg" alt="Angular Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/Git-logo.svg" alt="Git Logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="flip-front">
          <img mat-card-image src="../../../assets/images/docker-logo.svg" alt="Docker's logo">
        </div>
        <div class="flip-back">
          <h5>{{ 'flipBack.text' | translate }}</h5>
          <article>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </article>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>