<mat-card class="downloadCV-card">
    <mat-card-header id="downloadCV">
      <mat-card-title class="h4">{{'buttonsAndSections.button7' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="standard">
          <label>{{ 'contact.secretToken' | translate }}</label>
          <input type="text" matInput>
        </mat-form-field>
        <a href="api_download_pdf/download/CV_EricDiaz" rel="noopener noreferrer"><img src="../../../assets/images/download-pdf.svg" alt="Download PDF Icon" title="Download PDF Icon"></a>
      </form>
    </mat-card-content>
</mat-card>
