@import '../../styles/global.scss';

.webProj-card {
  max-width: 1200px;
  background: $cardColor;
  height: auto;
  margin: 2% auto 4%;
  border-radius: 20px;
  @include allmedias(androidLargeHorit){
    margin: 3% auto 8%;
    width: 80%;
  }
  .mat-card-header{
    @include flex(flex, row, wrap, center, center, center);
    margin-bottom: 5%;
    .h4{
      @include sectionTitles($primaryFont, 2.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      padding-bottom: 5%;
      color: $cardTitle;
      @include allmedias(androidLargeHorit){
        @include sectionTitles($primaryFont, 4vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
      @include allmedias(androidLargeVert){
        @include sectionTitles($primaryFont, 7.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
        line-height: 1.2;
      }
    } 
  }
  .mat-card-content {
    width: 100%;
    margin-bottom: 16px;
    .ng-image-slider .ng-image-slider-container .main .main-inner{
      width: 2060px;
      padding: 0;
      height: 200%;
      position:relative;
    }
    button{
      background:none;
      border:none;
      font-size: 3vw;
      color: $menuBkgColor;
      transition: 0.3s all;
      @include allmedias(androidLargeHorit){
        font-size: 4vw;
      }
      @include allmedias(androidLargeVert){
        font-size: 6vw;
      }
      &:hover{
        color: rgb(29, 95, 119);
      }
      .fa-circle-chevron-left{
        position:absolute;
        left: 1%;
        bottom: 35%;
        @include allmedias(androidLargeHorit){
          left: 2%;
        }
        @include allmedias(androidLargeVert){
          left: 3%;
        }
      }
      .fa-circle-chevron-right{
        position:absolute;
        left: 95%;
        bottom: 35%;
        @include allmedias(androidLargeHorit){
          left: 93%;
        }
        @include allmedias(androidLargeVert){
          left: 91%;
        }
      }
    }
  }
}

.image .ng-star-inserted{
  height: 200%;
}

.main-inner.ng-star-inserted{
  width: 700px;
}
