@charset "UTF-8";
/*Creación del mapa de puntos de corte*/
/* Mixin para hacer responsive */
/*Para usarla en los componentes, llamarlo como
@include allmedias(nombre de la propiedad de $breakpoints) */
/* Mixin de transform para que este en todos los navegadores */
/* Mixin para agrupar todas las propiedades de flexbox */
/* Mixin para agrupar todas las propiedades de grid */
/* Mixing Box Sizing */
/*Variables para familias de fuente de la web*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.webProj-card {
  max-width: 1200px;
  background: rgb(33, 177, 213);
  height: auto;
  margin: 2% auto 4%;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
  .webProj-card {
    margin: 3% auto 8%;
    width: 80%;
  }
}
.webProj-card .mat-card-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 1%;
}
.webProj-card .mat-card-header .h4 {
  font-family: "Quicksand";
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
  margin: 10% auto;
  border-bottom: 2px solid #fbfaeb;
  z-index: 1;
  padding-bottom: 1%;
  color: #fbfaeb;
}
@media screen and (max-width: 800px) {
  .webProj-card .mat-card-header .h4 {
    font-family: "Quicksand";
    font-size: 4vw;
    text-align: center;
    width: 100%;
    margin: 10% auto;
    border-bottom: 2px solid #fbfaeb;
    z-index: 1;
  }
}
@media screen and (max-width: 420px) {
  .webProj-card .mat-card-header .h4 {
    font-family: "Quicksand";
    font-size: 7.5vw;
    text-align: center;
    width: 100%;
    margin: 10% auto;
    border-bottom: 2px solid #fbfaeb;
    z-index: 1;
    line-height: 1.2;
  }
}
.webProj-card .mat-card-content {
  width: 100%;
  margin-bottom: 16px;
}
.webProj-card .mat-card-content .ng-image-slider .ng-image-slider-container .main .main-inner {
  width: 2060px;
  padding: 0;
  height: 200%;
  position: relative;
}
.webProj-card .mat-card-content button {
  background: none;
  border: none;
  font-size: 3vw;
  color: rgb(233, 233, 217);
  transition: 0.3s all;
}
@media screen and (max-width: 800px) {
  .webProj-card .mat-card-content button {
    font-size: 4vw;
  }
}
@media screen and (max-width: 420px) {
  .webProj-card .mat-card-content button {
    font-size: 6vw;
  }
}
.webProj-card .mat-card-content button:hover {
  color: rgb(29, 95, 119);
}
.webProj-card .mat-card-content button .fa-circle-chevron-left {
  position: absolute;
  left: 1%;
  bottom: 35%;
}
@media screen and (max-width: 800px) {
  .webProj-card .mat-card-content button .fa-circle-chevron-left {
    left: 2%;
  }
}
@media screen and (max-width: 420px) {
  .webProj-card .mat-card-content button .fa-circle-chevron-left {
    left: 3%;
  }
}
.webProj-card .mat-card-content button .fa-circle-chevron-right {
  position: absolute;
  left: 95%;
  bottom: 35%;
}
@media screen and (max-width: 800px) {
  .webProj-card .mat-card-content button .fa-circle-chevron-right {
    left: 93%;
  }
}
@media screen and (max-width: 420px) {
  .webProj-card .mat-card-content button .fa-circle-chevron-right {
    left: 91%;
  }
}

.image .ng-star-inserted {
  height: 200%;
}

.main-inner.ng-star-inserted {
  width: 700px;
}/*# sourceMappingURL=web-projects.component.css.map */