@import '../../styles/global.scss';

.ytVideos-card {
  max-width: 1200px;
  background: $cardColor;
  height: 60vh;
  margin: 2% auto 4%;
  border-radius: 20px;
  @include allmedias(androidLargeHorit){
    height: 50vh;
    margin: 3% auto 8%;
  }
  @include allmedias(androidLargeVert){
    height: 30vh;
  }
  .mat-card-header{
    @include flex(flex, row, wrap, center, center, center);
    margin-bottom: 3%;
    @include allmedias(androidLargeHorit){
      margin-bottom: 2%;
    }
    @include allmedias(androidLargeVert){
      @include flex(flex, column, wrap, center, center, center);
      margin-bottom: 1.5%;
    }
    .h4{
      @include sectionTitles($primaryFont, 2.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      padding-bottom: 8%;
      color: $cardTitle;
      @include allmedias(androidLargeHorit){
        @include sectionTitles($primaryFont, 4vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
      @include allmedias(androidLargeVert){
        @include sectionTitles($primaryFont, 7.5vw, center, 100%, 10% auto, 2px solid $cardTitle, 1);
      }
    }
  }
  .mat-card-content {
    width: 100%;
    margin-bottom: 16px;
  }
}


.carousel-container{
  position:relative;
  margin:auto;
  text-align:center;
  width: 700px;
  box-shadow: 0 6px 12px #dce1e1;
  border-radius: 20px;
  @include allmedias(androidLargeVert){
    width: 600px;
  }
  @include allmedias(androidLargeVert){
    width: 300px;
  }
}

.carousel-container img{
  display:none;
  border-radius: 15px;
  height: auto;
  margin: 3% auto;
  border-radius: 20px;
  box-shadow: 0px 0px 30px $menuBkgColor;
}

.carousel-container img.image-active{
  display:block;
  width: 100%;
  height: 400px;
  @include allmedias(androidLargeHorit){
    height: 342.86px;
  }
  @include allmedias(androidLargeVert){
    height: 171.43px;
  }
}

.carousel-dot-container{
  position:absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display:inline-block;
  transition: opacity 0.5s ease;
}


.active, .dot:hover{
  opacity: 1;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
  from{
    opacity: 0.4;
  }
  to{
    opacity: 1;
  }
}
